
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    width: 320px;
}
.first img{
    border: 2px solid red;
    border-radius: 3px 237px 0px 220px;
}
.three img{
    border: 2px solid rgb(92, 23, 95);
    border-radius: 3px 237px 0px 220px;
}
.second img{
    border: 2px solid rgb(0, 255, 8);
    border-radius: 405px 0px 397px 0px;
}
.four img{
    border: 2px solid rgb(232, 28, 222);
    border-radius: 405px 0px 397px 0px;
    

}
.five img{
    border: 2px solid rgb(226, 209, 25);
    border-radius: 405px 0px 397px 0px;
}
.six img{
    border: 2px solid rgb(40, 24, 216);
    border-radius: 3px 237px 0px 220px;
}
.seven img{
    border: 2px solid rgb(34, 184, 218);
    border-radius: 405px 0px 397px 0px;
    height: 213px;
}
.eight img{
    border: 2px solid rgb(245, 31, 160);
   /* border-radius: 405px 0px 397px 0px;*/
    border-radius: 3px 237px 0px 220px;
}
.eight{
    padding-left: 5px;
}
.three{
    padding-top: 51px;
    padding-right: 5px;
}
.second{
    padding-top: 51px;
}
.first{
    padding-top: 26px;
}
.four{
    padding-top: 50px;
}
.circle{
    margin-left: 0rem;
    display: flex;
    width: 84rem;
    height: 40px;
    margin-top: -102px;
    justify-content: center;
}
.circle img{
    width: 170px;
    height: 166px;
    border-radius: 50%;
    margin-top: 22px;
}
.mani{

    box-shadow:5px 64px 229px 5px rgb(0, 1, 0)
}
@media screen and (max-width: 768px){
    
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    width: 71px;
}
.first img{
    border: 2px solid red;
    border-radius: 3px 237px 0px 220px;
}
.three img{
    border: 2px solid rgb(92, 23, 95);
    border-radius: 3px 237px 0px 220px;
}
.second img{
    border: 2px solid rgb(0, 255, 8);
    border-radius: 405px 0px 397px 0px;
}
.four img{
    border: 2px solid rgb(232, 28, 222);
    border-radius: 405px 0px 397px 0px;
    

}
.five img{
    border: 2px solid rgb(226, 209, 25);
    border-radius: 405px 0px 397px 0px;
}
.six img{
    border: 2px solid rgb(40, 24, 216);
    border-radius: 3px 237px 0px 220px;
}
.seven img{
    border: 2px solid rgb(34, 184, 218);
    border-radius: 405px 0px 397px 0px;
    height: 47.5px;
}
.eight img{
    border: 2px solid rgb(245, 31, 160);
   /* border-radius: 405px 0px 397px 0px;*/
    border-radius: 3px 237px 0px 220px;
}
.eight{
    padding-left: 5px;
}
.three{
    padding-top: 51px;
    padding-right: 5px;
}
.second{
    padding-top: 51px;
}
.first{
    padding-top: 45.5px;
}
.four{
    padding-top: 50px;
}
.circle{
    margin-left: 0rem;
    display: flex;
    width: 84rem;
    height: 40px;
    margin-top: -102px;
    justify-content: center;
}
.circle img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-top: 78px;
    margin-right:5px;
}
.mani{
   
    box-shadow:5px 64px 229px 5px rgb(0, 1, 0)
}
}
